# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

target/classes/main/resources/flags-normal/lc.png
target/classes/main/resources/flags-mini/au.png
target/classes/main/resources/flags-normal/md.png
target/classes/main/resources/flags-normal/gm.png
target/classes/main/resources/Jaspers.jpg
target/classes/main/resources/flags-normal/ve.png
target/classes/main/java/controllers/worldCup/AddGameController$14.class
target/classes/main/resources/flags-normal/mc.png
target/classes/main/resources/flags-mini/in.png
target/classes/main/resources/flags-normal/lk.png
target/classes/main/resources/flags-mini/hn.png
target/classes/main/resources/flags-mini/mg.png
target/classes/main/resources/flags-mini/ni.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$4.class
target/classes/main/resources/flags-mini/cl.png
target/classes/main/resources/flags-normal/jm.png
target/classes/main/resources/flags-mini/mh.png
target/classes/main/resources/flags-mini/st.png
target/classes/main/resources/flags-mini/li.png
target/classes/main/resources/flags-mini/th.png
target/classes/main/resources/flags-normal/ug.png
target/classes/main/java/controllers/worldCup/AddGameController$6.class
target/classes/main/resources/flags-mini/tl.png
target/classes/main/resources/flags-normal/pa.png
target/classes/main/resources/flags-mini/lu.png
target/classes/main/resources/flags-normal/sy.png
target/classes/main/resources/flags-normal/tl.png
target/maven-archiver/pom.properties
target/classes/main/resources/flags-mini/il.png
target/classes/main/resources/flags-normal/tz.png
target/classes/main/resources/flags-normal/cd.png
target/classes/main/resources/flags-normal/tj.png
target/classes/main/resources/flags-mini/py.png
target/classes/main/resources/flags-normal/cg.png
target/classes/main/resources/flags-normal/br.png
target/classes/main/resources/views/AddEditPlayerScreen.fxml
target/classes/main/resources/flags-mini/br.png
target/classes/main/resources/flags-mini/cn.png
target/classes/main/resources/flags-normal/sv.png
target/classes/main/resources/flags-mini/no.png
target/classes/main/java/services/GameService.class
target/classes/main/resources/flags-normal/mm.png
target/classes/main/java/controllers/worldCup/AddGameController$2.class
target/classes/main/resources/flags-mini/ci.png
target/classes/main/resources/flags-normal/gn.png
target/classes/main/resources/flags-mini/pl.png
target/classes/main/resources/flags-mini/ba.png
target/classes/main/resources/flags-normal/ci.png
target/classes/main/resources/flags-normal/ch.png
target/classes/main/resources/flags-mini/rs.png
target/classes/main/resources/flags-normal/id.png
target/classes/main/resources/flags-mini/cd.png
target/classes/main/resources/flags-normal/gw.png
target/classes/main/resources/flags-mini/gb.png
target/classes/main/resources/flags-mini/hu.png
target/classes/main/resources/flags-mini/ht.png
target/classes/main/resources/flags-mini/cz.png
target/classes/main/resources/flags-mini/dz.png
target/classes/main/resources/flags-mini/ie.png
target/classes/main/resources/flags-normal/la.png
target/classes/main/resources/flags-normal/ba.png
target/classes/main/resources/views/AddWorldCupGamesScreen.fxml
target/classes/main/resources/flags-mini/gr.png
target/classes/main/resources/flags-normal/nr.png
target/classes/main/resources/flags-mini/mc.png
target/classes/main/resources/flags-mini/ks.png
target/classes/main/resources/flags-mini/gd.png
target/classes/main/resources/flags-normal/kp.png
target/classes/main/java/controllers/worldCup/AddGameController$9.class
target/classes/main/resources/flags-normal/rs.png
target/classes/main/resources/flags-mini/vn.png
target/classes/main/java/controllers/worldCup/AddWorldCupGamesController.class
target/classes/main/resources/flags-normal/pw.png
target/classes/main/resources/flags-mini/us.png
target/classes/main/resources/flags-mini/am.png
target/classes/main/resources/application.css
target/classes/main/resources/flags-mini/zw.png
target/classes/main/resources/flags-mini/rw.png
target/classes/main/resources/flags-normal/se.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$1.class
target/classes/main/resources/flags-normal/zm.png
target/classes/main/resources/flags-mini/is.png
target/classes/main/resources/flags-normal/tr.png
target/classes/main/resources/flags-mini/pk.png
target/classes/main/java/services/PlayerService.class
target/classes/main/resources/flags-normal/cf.png
target/classes/main/resources/log4j.properties
target/classes/main/resources/flags-mini/kh.png
target/classes/main/resources/bola amarela top.png
target/classes/main/resources/flags-mini/at.png
target/classes/main/resources/flags-normal/ne.png
target/classes/main/resources/flags-normal/mr.png
target/classes/main/resources/flags-mini/cy.png
target/classes/main/resources/flags-mini/al.png
target/classes/main/resources/flags-normal/it.png
target/classes/main/resources/flags-mini/jm.png
target/classes/main/resources/flags-mini/ug.png
target/classes/main/java/repositories/WorldCupRepository.class
target/classes/main/resources/flags-normal/st.png
target/classes/main/resources/flags-normal/bz.png
target/classes/main/resources/bert.png
target/classes/main/resources/Home.png
target/classes/main/resources/flags-normal/eg.png
target/classes/main/resources/flags-mini/ly.png
target/classes/main/java/domains/GameExt.class
target/classes/main/resources/flags-mini/uz.png
target/classes/main/resources/Ceulemans.jpg
target/classes/main/resources/flags-normal/dm.png
target/classes/main/resources/flags-mini/om.png
target/classes/main/resources/flags-mini/uy.png
target/classes/main/resources/flags-mini/pg.png
target/classes/main/resources/flags-mini/zm.png
target/classes/main/resources/flags-mini/kp.png
target/classes/main/resources/flags-normal/cz.png
target/classes/main/resources/bola branca top.png
target/classes/main/resources/flags-mini/lb.png
target/classes/main/resources/flags-normal/bf.png
target/classes/main/resources/flags-mini/mm.png
target/classes/main/resources/flags-mini/bd.png
target/classes/main/resources/flags-mini/ag.png
target/classes/main/resources/playerDefault.png
target/classes/main/resources/flags-normal/ao.png
target/classes/main/resources/flags-normal/au.png
target/classes/main/resources/flags-normal/dj.png
target/classes/main/resources/semih.jpg
target/classes/main/resources/flags-normal/ml.png
target/classes/main/resources/flags-normal/ls.png
target/classes/main/resources/flags-mini/cv.png
target/classes/main/java/controllers/worldCup/AddGameController.class
target/classes/main/resources/flags-normal/gb.png
target/classes/main/resources/flags-mini/mu.png
target/classes/main/resources/flags-normal/sl.png
target/classes/main/java/services/WorldCupService.class
target/classes/main/resources/flags-mini/kw.png
target/classes/main/resources/flags-mini/tj.png
target/classes/main/resources/flags-normal/be.png
target/classes/main/resources/flags-mini/bn.png
target/classes/main/java/utils/WorldCupUtils$1.class
target/classes/main/resources/flags-mini/sv.png
target/classes/main/resources/flags-normal/mu.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$10.class
target/classes/main/resources/flags-normal/pg.png
target/classes/main/resources/flags-mini/sa.png
target/classes/main/resources/flags-mini/kn.png
target/classes/main/java/utils/WorldCupUtils.class
target/classes/main/resources/views/AddGameScreen.fxml
target/classes/main/resources/flags-mini/sc.png
target/classes/main/resources/flags-normal/va.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$16.class
target/classes/main/resources/flags-mini/dk.png
target/classes/main/resources/flags-mini/nl.png
target/classes/main/resources/flags-normal/ro.png
target/classes/main/resources/bola amarela.png
target/classes/main/resources/flags-normal/fj.png
target/classes/main/resources/flags-mini/lr.png
target/classes/main/resources/flags-normal/gt.png
target/classes/main/resources/flags-normal/pe.png
target/classes/main/resources/teste.png
target/classes/main/resources/flags-normal/ws.png
target/classes/main/resources/flags-mini/dm.png
target/classes/main/java/model/CreateWorldCupModel.class
target/classes/main/resources/flags-mini/jp.png
target/classes/main/resources/flags-mini/la.png
target/classes/main/java/controllers/worldCup/AddGameController$1.class
target/classes/main/resources/flags-normal/am.png
target/classes/main/resources/flags-normal/jo.png
target/classes/main/resources/views/ConsultPlayersScreen.fxml
target/classes/main/resources/flags-normal/mg.png
target/classes/main/resources/flags-normal/gq.png
target/classes/main/resources/flags-normal/sn.png
target/classes/main/resources/flags-normal/ar.png
target/classes/main/resources/flags-mini/gm.png
target/classes/main/java/controllers/worldCup/AddGameController$13.class
target/classes/main/resources/flags-normal/cl.png
target/classes/main/resources/flags-mini/tw.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$21.class
target/classes/main/resources/flags-mini/sm.png
target/classes/main/resources/flags-normal/bs.png
target/classes/main/resources/flags-mini/pe.png
target/classes/main/resources/flags-normal/ga.png
target/classes/main/resources/flags-normal/tt.png
target/classes/main/resources/flags-mini/gt.png
target/classes/main/resources/flags-mini/id.png
target/classes/main/resources/flags-normal/my.png
target/classes/main/resources/flags-mini/eg.png
target/classes/main/resources/flags-mini/ge.png
target/classes/main/resources/flags-mini/mk.png
target/classes/main/resources/flags-normal/in.png
target/classes/main/resources/flags-mini/ws.png
target/classes/main/resources/flags-normal/hr.png
target/classes/main/resources/flags-normal/de.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$9.class
target/classes/main/resources/flags-normal/ca.png
target/classes/main/resources/flags-mini/fr.png
target/classes/main/java/controllers/worldCup/AddGameController$12.class
target/classes/main/resources/flags-normal/ad.png
target/classes/main/java/controllers/players/ConsultPlayersController.class
target/classes/main/resources/flags-normal/bt.png
target/classes/main/resources/merckx.jpg
target/classes/main/resources/flags-mini/sg.png
target/classes/main/resources/flags-normal/ye.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$22.class
target/classes/main/resources/edit.png
target/classes/main/resources/flags-mini/mr.png
target/classes/main/resources/flags-mini/bh.png
target/classes/main/resources/flags-normal/bn.png
target/classes/main/resources/flags-normal/nl.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$23.class
target/classes/main/resources/flags-mini/fj.png
target/classes/main/resources/flags-normal/pk.png
target/classes/main/resources/flags-mini/qa.png
target/classes/main/resources/flags-mini/tt.png
target/classes/main/resources/flags-mini/lc.png
target/classes/main/resources/flags-mini/na.png
target/classes/main/resources/flags-normal/vc.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$2.class
target/classes/main/java/controllers/worldCup/AddGameSetsController$3.class
target/classes/main/resources/flags-mini/bt.png
target/classes/main/resources/flags-mini/lk.png
target/classes/main/resources/flags-normal/th.png
target/classes/main/resources/flags-normal/sc.png
target/classes/main/resources/flags-mini/nz.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$19.class
target/classes/main/resources/flags-normal/az.png
target/classes/main/java/domains/IsPartOf.class
target/classes/main/resources/flags-mini/gn.png
target/classes/main/resources/flags-mini/be.png
target/classes/main/resources/flags-normal/np.png
target/classes/main/resources/flags-normal/uz.png
target/classes/main/resources/flags-mini/ad.png
target/classes/main/resources/flags-normal/ly.png
target/classes/main/resources/flags-mini/to.png
target/classes/main/resources/flags-mini/me.png
target/classes/main/resources/flags-normal/pt.png
target/classes/main/resources/flags-normal/cy.png
target/classes/main/resources/flags-normal/mh.png
target/classes/main/resources/flags-mini/fi.png
target/classes/main/java/controllers/worldCup/CreateWorldCupController.class
target/classes/main/resources/flags-normal/cn.png
target/classes/main/resources/flags-normal/ki.png
target/classes/main/resources/flags-mini/tr.png
target/classes/main/resources/flags-normal/cr.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$7.class
target/classes/main/resources/flags-normal/us.png
target/classes/main/resources/flags-mini/cr.png
target/classes/main/resources/flags-mini/ve.png
target/classes/main/resources/flags-normal/al.png
target/classes/main/resources/flags-normal/bo.png
target/classes/main/resources/flags-normal/do.png
target/classes/main/java/controllers/players/AddEditPlayerController.class
target/classes/main/resources/flags-mini/ee.png
target/classes/main/resources/flags-normal/sd.png
target/classes/main/resources/flags-mini/se.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$17.class
target/classes/main/resources/flags-mini/bo.png
target/classes/main/resources/flags-normal/km.png
target/classes/main/resources/flags-mini/bw.png
target/classes/META-INF/maven/WorldCupLogApp/WorldCupLogApp/pom.properties
target/classes/main/java/controllers/worldCup/AddGameController$4.class
target/classes/main/resources/flags-normal/cm.png
target/classes/main/resources/flags-mini/va.png
target/classes/main/resources/flags-mini/tm.png
target/classes/main/resources/flags-normal/bb.png
target/classes/main/resources/flags-mini/ng.png
target/classes/main/resources/flags-mini/za.png
target/classes/main/resources/flags-normal/kn.png
target/classes/main/java/controllers/players/AddEditPlayerController$1.class
target/classes/main/resources/flags-normal/tm.png
target/classes/main/resources/flags-mini/cm.png
target/classes/main/resources/flags-normal/mt.png
target/classes/main/resources/flags-normal/om.png
target/classes/main/resources/flags-normal/sa.png
target/classes/main/resources/flags-mini/ph.png
target/classes/main/resources/flags-normal/nz.png
target/classes/main/java/domains/Phase.class
target/classes/main/resources/views/AddGameScreenSets.fxml
target/classes/main/java/repositories/GameRepository.class
target/classes/main/resources/flags-mini/hr.png
target/classes/main/resources/flags-mini/bj.png
target/classes/main/resources/flags-normal/mv.png
target/classes/main/resources/flags-normal/co.png
target/classes/main/java/domains/Composed.class
target/classes/main/resources/flags-mini/ao.png
target/classes/main/resources/flags-mini/kr.png
target/classes/main/resources/flags-normal/so.png
target/classes/main/resources/flags-mini/sn.png
target/classes/main/resources/flags-mini/bb.png
target/classes/main/resources/flags-normal/to.png
target/classes/main/resources/flags-normal/mx.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$5.class
target/classes/main/java/Main.class
target/classes/main/resources/flags-normal/il.png
target/classes/main/resources/flags-normal/et.png
target/classes/main/java/controllers/worldCup/AddGameController$3.class
target/classes/main/resources/flags-normal/bi.png
target/classes/main/java/domains/Player.class
target/classes/main/resources/flags-mini/mn.png
target/classes/main/resources/flags-mini/ga.png
target/classes/main/java/repositories/PlayerRepository.class
target/classes/main/resources/flags-normal/mw.png
target/classes/main/java/domains/Game.class
target/classes/main/resources/flags-mini/it.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$11.class
target/classes/main/resources/flags-mini/ye.png
target/classes/main/resources/flags-normal/sg.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$12.class
target/classes/main/resources/flags-mini/td.png
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/main/resources/flags-normal/tw.png
target/classes/main/resources/flags-mini/sk.png
target/classes/main/resources/flags-normal/qa.png
target/classes/main/resources/flags-normal/mz.png
target/classes/main/resources/flags-mini/ne.png
target/classes/main/resources/flags-mini/tg.png
target/WorldCupLogApp-0.0.1-SNAPSHOT.jar
target/classes/main/resources/flags-mini/fm.png
target/classes/main/resources/flags-mini/gh.png
target/classes/main/resources/flags-mini/eh.png
target/classes/main/java/domains/Participated.class
target/classes/main/resources/flags-mini/km.png
target/classes/main/resources/flags-mini/sy.png
target/classes/main/resources/flags-mini/ae.png
target/classes/main/resources/flags-normal/na.png
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/classes/main/resources/flags-mini/sd.png
target/classes/main/resources/flags-normal/bh.png
target/classes/main/resources/flags-normal/sk.png
target/classes/main/resources/flags-mini/ro.png
target/classes/main/resources/flags-mini/md.png
target/classes/main/resources/flags-normal/sm.png
target/classes/main/resources/flags-normal/ir.png
target/classes/main/resources/flags-mini/pa.png
target/classes/main/resources/flags-mini/ch.png
target/classes/main/resources/flags-mini/gw.png
target/classes/main/resources/flags-normal/pl.png
target/classes/main/resources/flags-mini/ec.png
target/classes/main/resources/flags-mini/tv.png
target/classes/main/resources/flags-normal/kg.png
target/classes/main/resources/flags-mini/tz.png
target/classes/main/java/controllers/worldCup/AddGameController$8.class
target/classes/main/resources/flags-mini/ar.png
target/classes/main/resources/flags-mini/bg.png
target/classes/main/resources/flags-normal/ke.png
target/classes/main/resources/Blomdahl.jpg
target/classes/main/resources/flags-mini/lv.png
target/classes/main/resources/flags-mini/ca.png
target/classes/main/resources/flags-mini/ml.png
target/classes/main/resources/flags-mini/ls.png
target/classes/main/resources/flags-normal/iq.png
target/classes/main/resources/flags-mini/mx.png
target/classes/main/resources/flags-mini/es.png
target/classes/main/resources/upload.png
target/classes/main/resources/flags-mini/az.png
target/classes/main/resources/flags-mini/kz.png
target/classes/main/resources/flags-mini/bz.png
target/classes/main/resources/flags-mini/so.png
target/classes/main/resources/flags-mini/er.png
target/classes/main/resources/flags-normal/bj.png
target/classes/main/resources/flags-normal/ks.png
target/classes/main/resources/flags-normal/ma.png
target/classes/main/resources/flags-mini/et.png
target/classes/main/resources/flags-normal/hn.png
target/classes/main/resources/cupsPoss0.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$26.class
target/classes/main/resources/flags-normal/ph.png
target/classes/main/resources/flags-mini/af.png
target/classes/main/resources/flags-mini/ke.png
target/classes/main/resources/flags-mini/mt.png
target/classes/main/resources/flags-normal/vn.png
target/classes/main/resources/flags-normal/td.png
target/classes/main/resources/flags-normal/vu.png
target/classes/main/resources/flags-normal/ee.png
target/classes/main/resources/flags-mini/ki.png
target/classes/main/resources/bola branca.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$27.class
target/classes/main/java/controllers/worldCup/AddGameController$10.class
target/classes/main/java/config/WorldCupLogDatabaseTestConfiguration.class
target/classes/main/resources/Bury.jpg
target/classes/main/resources/flags-mini/bi.png
target/classes/main/resources/flags-mini/sz.png
target/classes/main/resources/flags-mini/nr.png
target/classes/main/resources/flags-normal/tn.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$6.class
target/classes/main/resources/flags-normal/mk.png
target/classes/main/resources/flags-mini/do.png
target/classes/main/resources/flags-normal/cv.png
target/classes/main/resources/flags-normal/sr.png
target/classes/main/resources/flags-mini/mw.png
target/classes/main/resources/flags-normal/gr.png
target/classes/main/resources/flags-normal/py.png
target/classes/main/resources/flags-normal/af.png
target/classes/main/resources/flags-normal/ht.png
target/classes/main/resources/flags-normal/dk.png
target/classes/main/resources/flags-normal/sz.png
target/classes/main/resources/flags-normal/ge.png
target/classes/main/resources/flags-normal/eh.png
target/classes/main/resources/flags-mini/by.png
target/classes/main/resources/flags-mini/co.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$15.class
target/classes/main/resources/flags-normal/kr.png
target/classes/main/resources/flags-normal/ae.png
target/classes/main/resources/flags-mini/kg.png
target/classes/main/resources/flags-mini/dj.png
target/classes/main/resources/flags-mini/mv.png
target/classes/main/resources/flags-mini/vu.png
target/classes/main/resources/flags-normal/bw.png
target/classes/main/resources/flags-mini/np.png
target/classes/main/resources/views/CreateWorldCupScreen.fxml
target/classes/main/resources/flags-normal/ag.png
target/classes/main/resources/flags-normal/jp.png
target/classes/main/resources/flags-normal/fr.png
target/classes/META-INF/maven/WorldCupLogApp/WorldCupLogApp/pom.xml
target/classes/main/resources/Caudron.jpg
target/classes/main/java/controllers/HomeScreenController.class
target/classes/main/resources/flags-mini/jo.png
target/classes/main/java/controllers/ControllersInterface.class
target/classes/main/resources/flags-normal/no.png
target/classes/main/resources/default.png
target/classes/main/resources/flags-normal/at.png
target/classes/main/resources/flags-normal/mn.png
target/classes/main/resources/flags-normal/cu.png
target/classes/main/resources/flags-mini/pw.png
target/classes/main/resources/sweden.png
target/classes/main/resources/flags-normal/me.png
target/classes/main/java/controllers/worldCup/AddGameSetsController.class
target/classes/main/resources/flags-normal/er.png
target/classes/main/resources/flags-normal/kh.png
target/classes/main/resources/flags-normal/si.png
target/classes/main/resources/flags-normal/bg.png
target/classes/main/java/controllers/worldCup/AddGameController$5.class
target/classes/main/resources/flags-mini/lt.png
target/classes/main/resources/flags-mini/mz.png
target/classes/main/java/controllers/players/ConsultPlayersController$1.class
target/classes/main/resources/flags-normal/kw.png
target/classes/main/resources/flags-normal/tg.png
target/classes/main/resources/flags-normal/tv.png
target/classes/main/resources/flags-normal/uy.png
target/classes/main/resources/flags-mini/bs.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$8.class
target/classes/main/resources/flags-mini/sr.png
target/classes/main/resources/flags-normal/gh.png
target/classes/main/resources/flags-normal/kz.png
target/classes/main/resources/flags-normal/gd.png
target/classes/main/resources/flags-normal/lv.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$18.class
target/classes/main/java/controllers/worldCup/AddGameSetsController$13.class
target/classes/main/resources/flags-normal/sb.png
target/classes/main/resources/flags-normal/hu.png
target/classes/main/resources/flags-mini/cu.png
target/classes/main/resources/flags-normal/lr.png
target/classes/main/java/controllers/worldCup/AddGameController$7.class
target/classes/main/resources/flags-mini/gy.png
target/classes/main/resources/flags-normal/rw.png
target/classes/main/resources/flags-mini/pt.png
target/classes/main/resources/flags-mini/vc.png
target/classes/main/resources/flags-normal/zw.png
target/classes/main/resources/flags-normal/lb.png
target/classes/main/resources/rui.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$25.class
target/classes/main/resources/flags-normal/lu.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$20.class
target/classes/main/resources/flags-normal/li.png
target/classes/main/resources/flags-mini/iq.png
target/classes/main/resources/flags-normal/ni.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$24.class
target/classes/main/resources/flags-mini/cf.png
target/classes/main/resources/flags-normal/by.png
target/classes/main/resources/flags-mini/si.png
target/classes/main/resources/flags-normal/ua.png
target/classes/main/java/domains/WorldCup.class
target/classes/main/resources/flags-normal/lt.png
target/classes/main/resources/flags-normal/ie.png
target/classes/main/resources/flags-mini/tn.png
target/classes/main/resources/flags-mini/sl.png
target/classes/main/resources/flags-mini/ir.png
target/classes/main/resources/flags-normal/ec.png
target/classes/main/resources/flags-normal/bd.png
target/classes/main/resources/flags-normal/is.png
target/classes/main/resources/teste_clicked.png
target/classes/main/java/controllers/worldCup/AddGameSetsController$14.class
target/classes/main/resources/flags-mini/de.png
target/classes/main/resources/flags-normal/fi.png
target/classes/main/resources/flags-normal/gy.png
target/classes/META-INF/MANIFEST.MF
target/classes/main/resources/flags-normal/za.png
target/classes/main/resources/carom-billiard-balls.png
target/classes/main/resources/views/HomeScreen.fxml
target/classes/main/resources/flags-mini/my.png
target/classes/main/resources/flags-mini/bf.png
target/classes/main/java/controllers/worldCup/AddGameController$11.class
target/classes/main/resources/flags-mini/ru.png
target/classes/main/resources/flags-mini/ma.png
target/classes/main/resources/flags-normal/es.png
target/classes/main/resources/flags-normal/ru.png
target/classes/main/resources/flags-normal/fm.png
target/classes/main/resources/flags-mini/ua.png
target/classes/main/resources/flags-mini/gq.png
target/classes/main/resources/flags-mini/cg.png
target/classes/main/resources/flags-normal/ng.png
target/classes/main/resources/flags-mini/sb.png
target/classes/main/resources/flags-normal/dz.png
/.metadata/
.idea
target
.idea
